jupyter-book
matplotlib
numpy

# add-ons
sphinx-proof
sphinx-exercise
sphinxcontrib-kroki
sphinxcontrib-plantuml
sphinxcontrib-mermaid
sphinxcontrib-tikz
# sphinxemoji

# others
pandas
plantuml
matplotlib