

.admonition.exercise {
  border-left-color: rgba(0, 180, 16, 1);
}
.admonition.exercise .admonition-title {
  background-color: rgba(0, 180, 16, .1);
}
.admonition.exercise .admonition-title:before {
  color: rgba(0, 180, 16, 1);
  content: '\f07c';
}

.admonition.solution {
  border-left-color: rgba(51, 165, 161, 1);
}
.admonition.solution .admonition-title {
  background-color: rgba(51, 165, 161, 0.1);
}
.admonition.solution .admonition-title:before {
  color: rgba(51, 165, 161, 1);
  content: '\f039';
}